.bodySite{
  max-width: 1440px;
  margin: 20px auto;
  border-radius: 50px;
  min-height: 850px;
  background-color: #F9FAFC;
  font-family: 'Poppins', sans-serif;

}
.headerSite{
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}