.container{
  position: absolute;
  top: 15px;
 left: 22%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .element{
    font-size: 14px;
    font-weight: 500;
    border:1px solid rgba(234, 236, 240, 1);
    color:rgba(153, 178, 198, 1);
    border-radius: 8px;
    padding: 16px;
    margin: 0 16px;
    height: 44px;
    display: flex;
    align-items: center;
    span{
      padding: 0 10px;
    }

  }

  .active{
    color: black;
    border: 1px solid rgba(153, 178, 198, 1);
  }
}
.tenancyInformationForm{
  position: relative;
  display: block;
  width: 427px;
  margin: 40px auto;
  padding: 40px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0px 10px 10px rgba(29, 22, 23, 0.07);


  .element{
    margin: 18px 0;
  }
  .title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .inputAddress{
    width: 347px;
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius:40px ;
    height: 56px;
    padding-left: 59px;
    font-size: 16px;
  }
  .search{
    position: absolute;
    left: 60px;
    top: 110px
  }

  .containerDatePick{
    display: flex;
    align-items: center;
    margin: 18px 5px;
  }
  .date{
    width: 160px;
    height: 56px;
    border-radius:40px ;
    font-weight: 400;
    font-size: 16px;
    color: rgba(145, 158, 171, 0.24);
  }

  .rentalAmount{
    width: 347px;
    border: 1px solid rgba(111, 112, 113, 0.24);
    border-radius:40px ;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
  }

}
.continue{
  width: 347px;
   color: rgba(99, 115, 129, 1);
    border: none;
    border-radius:40px ;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    &:hover{
      cursor: pointer;
    }
}